h1 ROOMS

.row
   .small-8.columns
      .row
         .small-12.columns
            h3 Create a Room
      .row
         .small-12.columns
            h3 Room List
   .small-4.columns
      h3 Chat it Up!
      #messages.panel.callout.radius
      input(type='text', ng-model='message')
      button.success.tiny.radius(ng-click='chat(message)') Send Message
