//------- Vendor Scripts -------//
script(src='/vendor/jquery/dist/jquery.js')
//- this sticky footer script must be included below jquery
script(src='/views/footer/footer.js')
script(src='/vendor/foundation/js/foundation.min.js')
script(src='/vendor/angular/angular.js')
script(src='/vendor/angular-ui-router/release/angular-ui-router.js')
script(src='/vendor/localforage/dist/localforage.js')
script(src='/vendor/angular-localforage/dist/angular-localForage.js')
script(src='/vendor/underscore/underscore.js')
script(src='/vendor/toastr/toastr.js')
script(src='/socket.io/socket.io.js')

//------- App Scripts -------//  
script(src='/config/toastr.js')
script(src='/index.js')
script(src='/models/user.js')
script(src='/models/room.js')
script(src='/views/users/users.js')
script(src='/views/nav/nav.js')
script(src='/views/rooms/rooms_list.js')

//- must be last script
script.
   $(document).foundation();
